In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series([1, 234, 432, 213, 3, 42,21 ], index = ['a', 'b', 'c', 'd', 'f', 'g', 'h'])
print(data)
data_dict = {'a' : 1,
             'b' : 2,
             'c' : 3,
             'd' : 4}
data2 = pd.Series(data_dict)
print(data2)

a      1
b    234
c    432
d    213
f      3
g     42
h     21
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [4]:
data = [{'a' :i, 'b':2 *i,} for i in range(10)]
data_df = pd.DataFrame(data)
print(data_df)
data_df2 = pd.DataFrame([{'a':2, 'b':4}, {'b': 4, 'c' : 5}])
print(data_df2)

   a   b
0  0   0
1  1   2
2  2   4
3  3   6
4  4   8
5  5  10
6  6  12
7  7  14
8  8  16
9  9  18
     a  b    c
0  2.0  4  NaN
1  NaN  4  5.0

In [26]:
file = 'Financial_Sample.xlsx'
finance_df = pd.read_excel(file, 'Sheet1')
print(finance_df)

              Segment                   Country    Product Discount Band  \
0          Government                    Canada  Carretera          None
1          Government                   Germany  Carretera          None
2           Midmarket                    France  Carretera          None
3           Midmarket                   Germany  Carretera          None
4           Midmarket                    Mexico  Carretera          None
..                ...                       ...        ...           ...
695    Small Business                    France   Amarilla          High
696    Small Business                    Mexico   Amarilla          High
697        Government                    Mexico    Montana          High
698        Government                    Canada      Paseo          High
699  Channel Partners  United States of America        VTT          High

     Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
0        1618.5                    3          20      32370.0       0.00
1        1321.0                    3          20      26420.0       0.00
2        2178.0                    3          15      32670.0       0.00
3         888.0                    3          15      13320.0       0.00
4        2470.0                    3          15      37050.0       0.00
..          ...                  ...         ...          ...        ...
695      2475.0                  260         300     742500.0  111375.00
696       546.0                  260         300     163800.0   24570.00
697      1368.0                    5           7       9576.0    1436.40
698       723.0                   10           7       5061.0     759.15
699      1806.0                  250          12      21672.0    3250.80

         Sales      COGS    Profit       Date  Month Number Month Name  Year
0     32370.00   16185.0  16185.00 2014-01-01             1    January  2014
1     26420.00   13210.0  13210.00 2014-01-01             1    January  2014
2     32670.00   21780.0  10890.00 2014-06-01             6       June  2014
3     13320.00    8880.0   4440.00 2014-06-01             6       June  2014
4     37050.00   24700.0  12350.00 2014-06-01             6       June  2014
..         ...       ...       ...        ...           ...        ...   ...
695  631125.00  618750.0  12375.00 2014-03-01             3      March  2014
696  139230.00  136500.0   2730.00 2014-10-01            10    October  2014
697    8139.60    6840.0   1299.60 2014-02-01             2   February  2014
698    4301.85    3615.0    686.85 2014-04-01             4      April  2014
699   18421.20    5418.0  13003.20 2014-05-01             5        May  2014

[700 rows x 16 columns]

In [56]:
# selection
# print(finance_df.keys())
# print(finance_df[15:20])
# print(finance_df['Country'])ckkim
# print(finance_df.Country)
# print(finance_df.T)
# print(finance_df.iloc[5:20, 0:3])
# print(finance_df.loc[:10, :'Country'])
print(finance_df.loc[finance_df.Country == 'Germany', ['Country', 'Segment', 'Product']])

     Country           Segment    Product
1    Germany        Government  Carretera
3    Germany         Midmarket  Carretera
5    Germany        Government  Carretera
6    Germany         Midmarket    Montana
9    Germany  Channel Partners    Montana
..       ...               ...        ...
676  Germany        Enterprise      Paseo
677  Germany         Midmarket      Paseo
689  Germany         Midmarket        VTT
691  Germany         Midmarket        VTT
693  Germany        Enterprise        VTT

[140 rows x 3 columns]

In [61]:
print(finance_df.groupby('Country')['Profit'].mean());

Country
Canada                      25208.777750
France                      27007.291286
Germany                     26288.491571
Mexico                      20768.022214
United States of America    21396.719036
Name: Profit, dtype: float64
<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000028436D78948>